@import '../../sass/vars.sass';


.Tracker {
  width: 75%;
  margin: 1rem;
  h1 {
    text-align: center;
    margin: 0;
    font-size: 3rem;
    transform: skew(-25deg)
  }
  .Spinner_Wrapper {
    width: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .CalendarWrapper {
    display: flex;
    flex-wrap: wrap;
    div {
      &:nth-child(1) {
        border-left: $calendarBorder;
      }
      &:nth-child(8) {
        border-left: $calendarBorder;
      }
      &:nth-child(15) {
        border-left: $calendarBorder;
      }
      &:nth-child(22) {
        border-left: $calendarBorder;
      }
      &:nth-child(29) {
        border-left: $calendarBorder;
      }
      &:nth-child(36) {
        border-left: $calendarBorder;
      }
    }
  }
}

@media(max-width: 1023px) {
  .Tracker {
    width: 100%;
    .CalendarWrapper {
      justify-content: center;
    }
  }
}

@media(max-width: 767px) {
  .Tracker {
    width: 100%;
    h1 {
      font-size: 1.8rem;
    }
  }
}
