.Note_View {
  .Exercise {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    .Time {
      font-weight: bold;
    }
  }
  .Exercise_Info {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    p {
      margin: 0 1rem;
    }
  }
}