@import '../../../sass/vars.sass';

.CalendarHeader {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: $calendarBorder;
  border-bottom: $calendarBorder;
  border-top: $calendarBorder;
  background: #D28BA4;
  font-weight: bold;
  font-size: 1.5rem;
}

@media(max-width: 767px) {
  .CalendarHeader {
    font-size: 1rem;
  }
}